# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Environment variables
.env

# SQLite Database
*.db
*.sqlite3

# Uploads & Reports storage
uploads/*
!uploads/.gitkeep
reports/*
!reports/.gitkeep

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store

# SSL Certs (local development certs)
certs/*.pem
